* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  h1{
      text-align: center;
      padding: 10px;
      color: rgb(97, 96, 96);
  }
  .descripcion{
      text-align: center;
      padding: 3px 20px;
      color: rgb(53, 53, 53);
  }
 .espacio{
     height: 220px;
 }
.contenedor{
    width: 100%!important;
    display: flex!important;
    gap: 30px!important;
    flex-wrap: wrap!important;
    justify-content: center!important;
    margin-top: 30px !important;
    flex-direction: unset !important;
}
.card__perfil{
    width: 310px !important;
    padding: 0px!important;
    box-shadow: 1px 1px 5px rgb(201, 201, 201)!important;
    border: solid rgba(3, 133, 255, 0) 2px!important;
    border-radius: 10px!important;
}
.card__perfil:hover{
    border: solid rgb(26, 216, 112) 2px !important;
}

.img_card{
    width: 100%;
    border-radius: 9px 9px 0px 0px !important;
    height: 100%!important;
}
.card__nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
hr{
    width: 100%;
    height: 2px;
    background: rgb(162, 150, 150);
    margin: 3px 1px;
}
.card__button{
    text-align: center;
}
.botones{
    width: 130px !important;
    border-radius: 50px!important;
    height: 40px!important;
 
 }
 .texto{
     text-align: end!important;
     padding-left:unset!important;
 }
 .texto2{
     text-align: start!important;
 }
 
 


