* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  h1{
      text-align: center;
      padding: 10px;
      color: rgb(97, 96, 96);
  }
  .descripcion{
      text-align: center;
      padding: 3px 20px;
      color: rgb(53, 53, 53);
  }
 .espacio{
     height: 220px;
 }
.contenedor{
    width: 100%!important;
    display: flex!important;
    gap: 30px!important;
    flex-wrap: wrap!important;
    justify-content: center!important;
    margin-top: 30px !important;
    flex-direction: unset !important;
}
.card__perfil{
    width: 310px !important;
    padding: 0px!important;
    box-shadow: 1px 1px 5px rgb(201, 201, 201)!important;
    border: solid rgba(3, 133, 255, 0) 2px!important;
    border-radius: 10px!important;
}
.card__perfil:hover{
    border: solid rgb(26, 216, 112) 2px !important;
}

.img_card{
    width: 100%;
    border-radius: 9px 9px 0px 0px !important;
    height: 100%!important;
}
.card__nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
hr{
    width: 100%;
    height: 0px;
    background: rgb(221, 29, 29);
    margin: 0px 1px;
    padding: unset !important;
}
.card__button{
    text-align: center;
    margin-bottom: 10px;
}
.botones{
    width: 130px !important;
    border-radius: 50px!important;
    height: 40px!important;
 
 }
 .texto{
     text-align: end!important;
     padding-left:unset!important;
 }
 .texto2{
     text-align: start!important;
 }

 #descripcion{

        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin-bottom: 10px;
 }
 
 .left{
    font-family: "Raleway", sans-serif;
    font-size: small;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
 

 .right{

    font-family: "Raleway", sans-serif;
    font-size: small;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-right: 15px;

    
  }


 
#tam{
    height: 150px;
}


.cont{
    
    border: 0px solid #333333;
    width: 100px;
    height: 18px;
    overflow: inherit;

}

#compartir{
    content: "";
    width: 50px;
    height: 20px;
    background-color: white;
    border-radius: 50% 50% 0 0 ;
    z-index: 9999;
    display: block;
    position: absolute;
    bottom: -5px;
}






