* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1{
      text-align: center;
      padding: 10px;
      color: rgb(97, 96, 96);
  }
  .descripcion{
      text-align: center;
      padding: 5px 25px;
      color: rgb(53, 53, 53);
  }
.card{
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.card__perfil{
    width: 310px;
}
img{
    width: 80px;
}